name: views_weebi_example
description: A new Flutter package project.
version: 0.0.1
homepage:
publish_to: none

environment:
  sdk: '>=2.18.4 <3.0.0'
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_mobx: ^2.0.6+1
  font_awesome_flutter: ^10.1.0 #^9.0.0
  mobx: ^2.0.1
  provider: ^6.0.3
  models_weebi:
    path: ../../models_weebi
  mixins_weebi:
    path: ../../mixins_weebi
    #git: 
    #  url: https://gitlab.com/weebi_git/models_weebi
  views_weebi:
    path: ../
  closing:
    path: ../../closing
  #  git: 
  #    url: https://gitlab.com/weebi_git/closing  #mac  
  rc_router: #^0.3.0
    git: 
      url: https://gitlab.com/weebi_git/dependencies/rc_router
 

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:
  generate: true
  uses-material-design: true
  assets:
    - assets/icons/
  
  # To add custom fonts to your package, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts in packages, see
  # https://flutter.dev/custom-fonts/#from-packages
